.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  list-style: none;
  gap: 20px;
  padding-inline-start: 0;
  padding-left: 100px;
  padding-right: 100px;
}
.encapsulador {
  display: flex;
  border-radius: 5px;
  background-color: gray;
  margin-top: 40px;
}

.texto {
  margin-left: 10px;
}
img {
  width: 15em;
  height: 15em;
}
.fondo {
  background-color: black;
}

.titulo {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.botones {
  display: flex;
  justify-content: flex-end;
}
body {
  margin: 0;
}

ul {
  margin-block-start: 0;
}
